label {
  margin-top: .5rem;
  margin-bottom: .1rem;
}

.radioRow {
  display: flex;
  justify-content: space-between;
}
.form-check-input {
  margin: 1rem 1rem 1rem 0;
}

.form-check-label {
  margin: 0 4rem 0 0;
}