<div *ngIf="todo" class="todo-detail">

    <h2>Todo: <span>{{todo.name}}</span></h2>
    <h2>Task: <span>{{todo.task}}</span></h2>
    <div><span>id: </span> {{todo.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="todo.name" placeholder="name" />
      </label>
    </div>
    <div>
      <label>task:
          <input [(ngModel)]="todo.task" placeholder="task" />
      </label>
    </div>
</div>

<button (click)="goBack()">Go back</button>
<button (click)="save()">Save</button>
