// this file includes USAC defined variables and variable overrides



// bootstrap overrides
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.
// custom USAC variables below

$usac-white: #fff;
$usac-gray-1: #fafafa;
$usac-gray-2: #eaeaea;
$usac-gray-3: #d5d5d5;
$usac-gray-4: #bababa;
$usac-primary: #192425;
$usac-red-primary: #c90019;
$usac-red-1: #921515;
$usac-blue-primary: #181d49;
$usac-blue-1: #003d6e;
$usac-secondary: #d5ba93;
$usac-secondary-2: #b99e79;
$usac-blue-info: #1a5870;
$usac-blue-help: #007ca0;
$usac-green-1: #51aa60;
$usac-green-2: #2c792a;
$usac-yellow-1: #e2b04d;
$usac-orange: #de5c0e;

// include fonts here

// bootstrap Color map

$theme-colors:
  (
    "primary":    $usac-red-primary,
    "secondary":  $usac-blue-primary,
    "success":    $usac-green-1,
    "info":       $usac-blue-info,
    "warning":    $usac-orange,
    "danger":     $usac-red-1,
    "light":      $usac-gray-2,
    "dark":       $usac-gray-4
  );

// bootstrap Color system

$white:    $usac-white;
$gray-100: $usac-gray-1;
$gray-200: $usac-gray-2;
$gray-300: $usac-gray-3;
$gray-400: $usac-gray-4;
$gray-500: $usac-gray-4;
// $gray-600: #6c757d;
// $gray-700: #495057;
// $gray-800: #343a40;
// $gray-900: #212529;
$black:    #000;

$blue:    $usac-blue-1;
$indigo:  $usac-blue-primary;
//$purple:  #6f42c1;
//$pink:    #e83e8c;
$red:     $usac-red-primary;
$orange:  $usac-orange;
$yellow:  $usac-yellow-1;
$green:   $usac-green-1;
$teal:    $usac-blue-help;
$cyan:    $usac-blue-info;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              .9375rem !default; // Assumes the browser default 16, yield `15px`

$font-family-sans-serif:      "Times", "Helvetica Neue", Arial, "Noto Sans", sans-serif,;

// $input-btn-padding-y:         .575rem;
// $input-btn-padding-x:         1.25rem;
