<h2>Racers</h2>
<ul class="todos">
    <!-- *ngFor (Angular For) is a way to create the same element for each object
    needed. In this case, for each todo in todos -->
    <!-- (click) is an ng event listener which then runs onSelect(), a function
    that is being defined inside the todos component -->
    <!-- [class.someClass] will set a class to the element only if the following value
    is truthy. In this case, it will be a class of .selected only if todo is the
    same as the selected todo -->
  <li *ngFor="let racer of racers">
    <a routerLink="/racers/{{racer.id}}">
      <span class="badge">{{racer.id}}</span> {{racer.lastName}}, {{racer.firstName}}
    </a>
    <button
    class="delete"
    title="delete racer"
    (click)="delete(racer)">
      x
    </button>
  </li>
</ul>
<div>
  <label>New Racer:
    <input #racerFirstName placeholder="First Name" (keyup.enter)="add(racerFirstName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''"/>
    <input #racerLastName placeholder="Last Name" (keyup.enter)="add(racerLastName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''"/>
  </label>

  <button (click)="add(racerFirstName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''">
    Add
  </button>
</div>

<h2>Racers</h2>


<!-- Call upon the todo detail component, and give it a data binding (Like a React Prop)
of todo. which is the selectedTodo from the todo component -->
<!-- <app-todo-detail [todo]="selectedTodo"></app-todo-detail> -->
