<h2 class="text-center mt-5">Racers</h2>
    <!-- *ngFor (Angular For) is a way to create the same element for each object
    needed. In this case, for each todo in todos -->
    <!-- (click) is an ng event listener which then runs onSelect(), a function
    that is being defined inside the todos component -->
    <!-- [class.someClass] will set a class to the element only if the following value
    is truthy. In this case, it will be a class of .selected only if todo is the
    same as the selected todo -->
<table class="table table-striped table-bordered table-sm table-hover w-50 mx-auto">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let racer of racers" routerLink="/racers/{{racer.id}}">
        <td>{{racer.id}}</td>
        <td>{{racer.firstName}}</td>
        <td>{{racer.lastName}}</td>
        <td>
          <button
          class="btn btn-danger"
          title="delete racer"
          (click)="delete(racer)">
            <strong>Delete</strong>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
<div class="input-group w-25 mx-auto">
  <div class="input-group-preapend">
    <span class="input-group-text">Add racer</span>
  </div>
  <input class="form-control" #racerFirstName placeholder="First Name" (keyup.enter)="add(racerFirstName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''"/>
  <input class="form-control" #racerLastName placeholder="Last Name" (keyup.enter)="add(racerLastName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''"/>
  <div class="input-group-append">
    <button class="btn btn-outline-primary" (click)="add(racerFirstName.value, racerLastName.value); racerFirstName.value=''; racerLastName.value=''">
      Add
    </button>
  </div>
</div>
<!-- Call upon the racer detail component, and give it a data binding (Like a React Prop)
of racer. which is the selectedRacer from the racer component -->
<!-- <app-racer-detail [racer]="selectedracer"></app-racer-detail> -->
