  <!-- In order to interpolate values into the component html template, you have to use
  double curlies -->
  <h1>
    {{ title }}
  </h1>
  <!-- routerLink is included through the RouterModule in AppModule imports -->
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/todos">Todos</a>
  </nav>
  <!-- The 'selector' property in each component is what is used to render a particular
  component as if it were an html element. The todos component, in this case -->
  <router-outlet></router-outlet>
  <app-messages></app-messages>

