.froo {
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: #bababa;
}
.row {
  display: flex;
  height: 100%;
  justify-content: center;
}

.sizing {
  width: 1000px;
  margin: 2rem 0;
}

.row-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0rem;
}

.sidebar {
  background-color: #656B74;
  display: flex;
  justify-content: center;
  width: 40%;

}

.tableOfContents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 4.5rem 0 2rem 7rem;
  width: 100%;
}

.logo {
  width: 4rem;
  height: 5rem;
}

.title {
  color: #ffffff;
  margin-top: 5rem;
  line-height: .9;
  font-size: 2.2rem;

}

.tocLogo {
  height: 20rem;
  margin-top: 9rem;
}

.bottom {
  margin-bottom: .5rem;
}



.content {
  background-color: white;
  flex-grow: 1;
}

.data {
  margin: 2rem 4rem;
}

.initial-question {
  margin-top: 2rem;
  border-bottom: 1px solid grey;
  &--dropdown {
    margin-top: -1rem;
    margin-bottom: 3rem;
  }
}

.form {
  padding: 1rem 0;
}

.question {
  width: 73%;
  margin: 2rem 0;
}

.question-row {
  display: flex;
  justify-content: space-between;
}

